<div>

  <div class="">
      <h2 class="texto-1 curso-tl">Algunos de nuestros cursos:</h2>
  </div>

  <section class="cursos-aficionados">
          <div class="size-cards-aficionados">
              <h2 class="texto-3">Cultivo del café</h2>
              <div class="bg-azulito">
                  <img src="../assets/img/hombre recogiendo cafe.jpg" alt="Cultivo cafe" class="img-card">
                  <p>¡Descubre los secretos del café! Visita nuestro curso y aprende con nuestros profesionales cómo se cultiva, esta deliciosa taza de café.</p>
                  <p class="estado_curso">CURSO NO DISPONIBLE</p>
              </div>
          </div>

      <div class="size-cards-aficionados">
          <h2 class="texto-3">Preparaciones</h2>
          <div  class="bg-rojito">
              <img src="../assets/img/barista-preparando-bebida.jpg" alt="preparaciones" class="img-card">
              <p>¡Descubre cómo se prepara el café perfecto! Únete a nosotros en una experiencia única y aprende los secretos de la preparación del mejor café.</p>
              <p class="estado_curso">CURSO NO DISPONIBLE</p>
          </div>
      </div>

      <div class="size-cards-aficionados">
          <h2 class="texto-3">Arte latte</h2>
          <div  class="bg-amarillito">
              <img src="../assets/img/taza-cafe-brizna-trigo-dibujado-espuma-visto-arriba.jpg" alt="taza de cafe" class="img-card">
              <p>¡Aprende a hacer arte latte! Ven a nuestro curso y descubre cómo crear hermosos diseños en tu café. Una experiencia creativa.</p>
              <p class="estado_curso">CURSO NO DISPONIBLE</p>
          </div>
      </div>

      <div class="size-cards-aficionados">
          <h2 class="texto-3">Catación de café</h2>
          <div  class="bg-verdecito">
              <img src="../assets/img/mujertomandocafe.jpg" alt="mujer tomando cafe" class="img-card">
              <p>Únete a nosotros en una sesión de catación de café y aprende a degustar y apreciar sus distintas características y matices. Una experiencia  para los amantes del café.</p>
              <p class="estado_curso">CURSO DISPONIBLE</p>
              <a href="../detallecurso" class="enlace_curso">Inscribirme</a>
          </div>
      </div>
  </section>
</div>
