<section>
  <article class="apartado">
      <img src="../assets/img/barista-preparando-bebida.jpg" alt="Hombre con cafe" >
      <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptate, quisquam, minus nobis expedita voluptatem quam at provident recusandae magnam minima, vero excepturi dicta harum neque labore optio ea non.
          Odit aliquam nulla dolore omnis accusantium alias delectus exercitationem, tenetur consectetur, distinctio quod asperiores eos, quae sunt aliquid! Esse quae explicabo pariatur laborum maxime tenetur, consequatur rerum. Nihil, modi distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aspernatur quibusdam placeat quaerat provident similique ipsa neque. Placeat laborum iusto, iste optio nostrum perspiciatis id nemo saepe distinctio omnis et.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias voluptates laborum in ea dolores veritatis saepe sit amet? Perspiciatis officiis quia molestiae quaerat repellendus ducimus sapiente, sequi assumenda voluptatum illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nemo excepturi officia, reiciendis, ipsa ratione amet dolore numquam error doloribus fuga suscipit saepe corporis officiis delectus sunt quibusdam natus. Architecto.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nihil quo voluptatibus molestias quas corrupti repellendus voluptas nesciunt amet, praesentium expedita perspiciatis ullam delectus doloremque? Rem similique eos omnis possimus?
          Quod voluptate esse, reprehenderit nam doloremque quaerat, laudantium eum velit hic itaque perferendis quo natus consequuntur laborum ipsam. Quos laborum qui veritatis totam fugiat omnis quae asperiores doloribus libero deserunt.
          Totam, asperiores quas nemo iusto hic laborum natus a sequi sed excepturi! Ex repellat error exercitationem eaque nulla laboriosam ipsam inventore porro ducimus veritatis consequuntur amet incidunt fuga, blanditiis quasi?</p>
      </div>
  </article>

  <article class="apartado-2">
      <img src="../assets/img/cafe.webp" alt="taza de cafe" >
      <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aspernatur quibusdam placeat quaerat provident similique ipsa neque. Placeat laborum iusto, iste optio nostrum perspiciatis id nemo saepe distinctio omnis et.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium at nostrum quidem fugiat velit tempora non distinctio labore delectus nesciunt vitae soluta, sit aliquam rem aperiam magnam harum, dolore repudiandae.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quas sint, magni inventore libero iste? Error repellat similique eaque magni impedit voluptate id ad. Eos illo in rem eum sit.</p>
      </div>
  </article>

  <article class="apartado apartado-1">
      <img src="../assets/img/cafe.webp" alt="Hombre con cafe" >
      <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptate, quisquam, minus nobis expedita voluptatem quam at provident recusandae magnam minima, vero excepturi dicta harum neque labore optio ea non.
          Odit aliquam nulla dolore omnis accusantium alias delectus exercitationem, tenetur consectetur, distinctio quod asperiores eos, quae sunt aliquid! Esse quae explicabo pariatur laborum maxime tenetur, consequatur rerum. Nihil, modi distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aspernatur quibusdam placeat quaerat provident similique ipsa neque. Placeat laborum iusto, iste optio nostrum perspiciatis id nemo saepe distinctio omnis et.</p>

      </div>
  </article>
</section>
