<div class="body-sing">

  <div class="log-in">
      <div class="info info-1">
          <h2 class="texto-1">Bienvenidos a esta comunidad</h2>
          <hr>

          <p class="texto-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, cupiditate?</p>
      </div>

      <div class="formulario formulario-1">
          <h2>Iniciar sesión</h2>
         <div class="inputs inputs-1">
               <!--<input type="email" [(ngModel)]="login.user" class="input-1" placeholder="Ingresa tu correo" required>
              <input type="password" [(ngModel)]="login.pass" class="input-1" placeholder="Ingresa tu contraseña" required>

              <a href="">¿Olvidaste tu contraseña?</a>


              <input type="submit" value="Iniciar sesion" class="submit" (click)="agregar()">

              <div class="inicia-sesion">
                  <p>¿aun no tienes una cuenta?</p>
                  <a href="../sing-up/" >Registrarse</a>
              </div>
          </div>-->
          <input type="email" [(ngModel)]="usuario.email" class="input-1" placeholder="Ingresa tu correo" required>
          <input type="password" [(ngModel)]="usuario.password" class="input-1" placeholder="Ingresa tu contraseña" required>

          <a href="">¿Olvidaste tu contraseña?</a>


          <input type="submit" value="Iniciar sesion" class="submit" (click)="ingresar()">
          <div class="inicia-sesion">
            <p>¿aun no tienes una cuenta?</p>
            <a href="../sing-up/" >Registrarse</a>
        </div>
        </div>

  </div>
  </div>
