
<div class="titulo-requisitos">
  <h3>Requisitos</h3>
  <a href="#maestros">Maestros</a>
  <a href="#estudiantes">Estudiantes</a>
</div>

<section>
  <article id="maestros" class="requisitos-1">
      <h4>Maestros</h4>
      <ul>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, accusantium?</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, non.</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, odit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, eos.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sint.</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, earum.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, possimus.</li>
      </ul>
  </article>

  <article id="estudiantes" class="requisitos-1">
      <h4>Estudiantes</h4>
      <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea.</li>
      </ul>
  </article>
</section>
