}<h2  class="texto-1">Comunidades virtuales</h2>
<article class="sesion">
  <div class="sesion__foros">
      <div class="foros__elementos">
          <img src="../assets/img/img-1.jpg" alt="">
          <h3>¿El café ayuda a combatir el dolor de cabeza?</h3>
          <h5> Foro  ·  Última actividad: 26 de enero del 2023</h5>
          <p>Esppacio para debatir uno de los beneficios del café, calmar el dolor de cabeza. Muchos aseguran que
            una taza de café por la mañana alivia los sintomas de la cefalea ¿estas deacuerdo con esto?
          </p>
          <a href="">PARTICIPAR</a>
          <br>
      </div>
      <div class="foros__elementos">
          <img src="../assets/img/img-2.jpg" alt="">
          <h3>Café con azucar o sin azucar ¿Cómo lo prefieren?</h3>
          <h5>Debate ·  Última actividad 19 de Agosto del 2022</h5>
          <p>Debatamos cual consideras que es la mejor opción, ¿con azucar o sin azucar? y que beneficios
            tiene cada unoo.
          </p>
          <a href="">PARTICIPAR</a>
          <br>
      </div>
      <div class="foros__elementos">
          <img src="../assets/img/img-1.jpg" alt="">
          <h3>Cultivar café</h3>
          <h5>Comunidad   · Última actividad 7 de febrero del 2023</h5>
          <p>En esta comunidad encontraras noticias, foros, debates y notas sobre cultivo de café</p>
          <a href="">PARTICIPAR</a>
          <br>
      </div>
      <div class="foros__elementos">
          <img src="../assets/img/img-2.jpg" alt="">
          <h3>¿El exceso de café es malo?</h3>
          <h5>Debate  · Última actividad 30 de enero del 2022</h5>
          <p>En este espacio debatiremos entorno a el excesivo consumo de café y como
            puede afectar nuestra salud?
          </p>
           <a href="">PARTICIPAR</a>
           <br>
      </div>
      <div class="foros__elementos">
          <img src="../assets/img/img-1.jpg" alt="">
          <h3>¿Cómo ser un buen barrista en el negocio del café espresso?</h3>
          <h5>Foro  ·  Última actividad 7 de Abril del 2022</h5>
          <p>La gama de posibilidades profesionales que brinda el cafe es poco conocida, por eso te compartimos
            los tips para ser un buen barrista.
          </p>
          <a href="">PARTICIPAR</a>
          <br>
      </div>
      <div class="foros__elementos">
          <img src="../assets/img/img-1.jpg" alt="">
          <h3>Directo al paladar: preparar un buen café</h3>
          <h5>Comunidad  ·  Última actividad 23 de Junio del 2023</h5>
          <p>En este espacio puedes participar de foros, charlas y debates entorno a la preparación de café.</p>
          <a href="">PARTICIPAR</a>
          <br>
      </div>
  </div>
</article>

<div class="blog-1">
  <main class="contenedor">
      <section class="contenedor-agg__com">
          <div class="imagen-usuario">
              <img src="../assets/img/usuario.png" alt="">
          </div>
          <div class="input-com">
              <input id="nuevoComentario" type="text" placeholder="Nuevo Comentario">
              <div class="btn-agg">
                  <button>comentar</button>
              </div>
          </div>
      </section>
  </main>
  <ul id="comentarios" class="contenedor-2">

  </ul>

  </div>


