<div class="about">
  <h2>Quienes somos nosotros</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sed autem cum impedit harum ipsum.</p>
</div>

<section>
  <article class="apartado">
      <img src="../assets/img/hombre recogiendo cafe.jpg" alt="Hombre recogiendo cafe">
      <div>
          <h3>Nosotros somos</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, accusamus quia! Quia, laboriosam aperiam vitae quas ullam molestiae praesentium dolore blanditiis facere autem dolorum. Excepturi iusto consequatur praesentium quam amet facere esse dolorem sit natus unde? Sit animi voluptas ullam.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore doloremque quos. Totam voluptate consequuntur odit quo doloribus soluta sequi! Temporibus error consequuntur dolor fugiat ratione sint. Quaerat, quam delectus.
          Et deserunt vel quod, autem necessitatibus, aliquid, velit incidunt animi libero ipsam sed eius eum atque debitis? Non, officia at, dolorem odit facilis tenetur voluptates, enim ullam vel quae molestias!
          Enim tempora veniam cupiditate assumenda voluptatum maiores? Eveniet, tempore nostrum exercitationem vitae quidem id eos? Optio cum itaque rem et nulla fugit aut tenetur ratione. At dolor vitae odio obcaecati!
          Incidunt saepe, qui fuga blanditiis eum, illum corrupti ipsum, a repudiandae quo nihil. Dicta, animi voluptate, consequuntur obcaecati illum quam, libero pariatur asperiores hic saepe soluta natus necessitatibus iure repellat.
          Amet eos nostrum, quae aliquid quisquam alias qui quos autem incidunt recusandae magnam adipisci quasi obcaecati. Libero hic ducimus in corporis quos facilis eum quam doloribus, laudantium repudiandae, nobis alias!</p>
      </div>
  </article>

  <article class="apartado-2 apartado-3">
      <img src="../assets/img/cafe-procesado.webp" alt="Cafe-procesado">
      <div>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, accusamus quia! Quia, laboriosam aperiam vitae quas ullam molestiae praesentium dolore blanditiis facere autem dolorum. Excepturi iusto consequatur praesentium quam amet facere esse dolorem sit natus unde? Sit animi voluptas ullam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis temporibus, earum vel officiis fuga quasi ipsam delectus aut. Dignissimos illum, placeat odit porro expedita dolore voluptate. Ullam, libero recusandae?
          Repellat, voluptatum. Quod dignissimos, minima veniam optio, quasi aliquid quas rem debitis, fugit facilis perspiciatis modi ad est dicta culpa! Nihil inventore ex accusamus odit dolores ratione, temporibus consectetur illum.
          Esse sed perferendis provident recusandae dolore ad magnam voluptate nihil quis at reiciendis culpa quae mollitia, nemo dolorem. Dolores nulla voluptas mollitia rem hic deserunt culpa aliquid iste, eum saepe.
          Ratione labore iste, nihil qui doloribus fugit a animi dignissimos aspernatur modi doloremque eos accusantium ad quisquam? Eligendi tempore doloribus ducimus deserunt adipisci quibusdam excepturi. Et corrupti iure cum quod?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus in ut quidem. Distinctio deserunt est reiciendis cum nesciunt nihil placeat debitis. Ducimus voluptas ullam dolores quaerat nulla voluptatem molestiae dicta.</p>
      </div>
  </article>
</section>
